# ignore log
*.log
*.pyc

# AALpy
quicLearner/input.txt
quicLearner/output.txt
quicLearner/run
quicLearner/slog
quicLearner/compareTest
quicLearner/runFuzzing.sh
quicLearner/fuzzingTasks.txt
quicLearner/runFuzzing.log

# quicMapper
quicMapper/input.txt
quicMapper/output.txt
quicMapper.tar.xz
quicMapper/pypyEnv/

# aioquic
aioquic/secrets/*.log


# pico
pico/
pico/picoquic/*.qlog
pico/.secret
pico/picoquic/picoquictest/*.qlog
pico/picoquic/CMakeFiles/*
pico/*.a
pico/*.cmake
pico/picoquic/picohttp_ct
pico/picoquic/picolog_t
pico/picoquic/picoquic_ct
pico/picoquic/picoquic_sample
pico/picoquic/picoquicdemo
pico/picoquic/CMakeFiles
pico/newPicoquic/

# ignore pcap
*.pcap

# findND
findND/findND
findND/*.txt
findND/run/

# quic libraries
.vscode/
#kwik/
#mvfst/
#ngtcp2/
#quinn/
#pico/
#ngtcp2/
quicServers/quinnLatest
quicServers/mvfst
quicServers/msquic
quicServers/msquicOld
quicServers/quiche
quicServers/xquic
quicServers/quicly
quicServers/quicly-latest
quicServers/quant
quicServers/quantTest
quicServers/haskellQuic
quicServers/quic-go/
quicServers/neqo
quicServers/s2n-quic/
quicServers/s2n-quicLatest/
quicServers/*.tar.gz
quicServers/nginx-quic/
quicServers/lsquic/
quicServers/ats
quicServers/chromium
quicServers/depot_tools
quicServers/pquic
quicServers/bilibili-quiche/
quicServers/quiwi
quicServers/quiche4j
quicServers/google-quiche
quicServers/quinnFixed/
quicServers/aioquicLatest/
quicServers/kwikLatest/
quicServers/aioquicFixedDoS/
quicServers/lsquicFixed0/
quicServers/lsquicFixed1/
quicServers/lsquicFixed2/
#quicServers/

quicServers/kwikTest/
quicServers/msquicTest/
quicServers/neqoTest/
quicServers/ngtcp2Test/
quicServers/picoquic/picoquicTest/
quicServers/quiclyTest/
quicServers/s2n-quicTest/
quicServers/google_quiche/
quicServers/quicheTest/

quicMapperBackup/
quicMapper/src/aioquic/quic/connection(9ba8bea).py
quicMapper/mapperTest2.py
#quicMapper/mapperTest.py
quicMapper/zeroRTT_ticket.txt
quicMapper/mapper(9ba8bea).py




# secrets
secrets/quiche-serverLog/
secrets.tar.xz

quicBugs
quicLearner/debug.txt


findND/input
findND/log/

scripts/replayQuicPackets/extracted1.raw
scripts/replayQuicPackets/extracted2.raw
scripts/replayQuicPackets/extracted_pquic.raw

quicLearner/learnerFuzzCommands/runCommandShortChangeDestinationConnectionID.txt
quicLearner/learnerFuzzCommands/runCommandShortChangeDestinationConnectionID.txt
quicLearner/learnerFuzzCommands/runCommandShortPaddingChangeDestinationConnectionID.txt
results/faults.md
quicLearner/learnerFuzzCommands/runCommandShortPadding.txt


scripts/tempOutput
scripts/tempResult.dot
